<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleDetail.css">
</head>

<body>
    <div class="abc">
        <h1 id="det">Detail</h1>
        <h1 id="upd">Update</h1>
        <div class="container">
            <form action="doUpdate" method="POST">
                <p>Toy ID : <i><%= toy[0].toyid %></i><input type="hidden" name="id" value="<%= toy[0].toyid%>">
                </p>
                <p>Toy Name : <span><%= toy[0].toy %></span><input type="text" name="toy" id="toy" value="<%= toy[0].toy %>">
                </p>
                <p>Price: <span><%= toy[0].price %></span><input type="text" name="price" id="price"
                        value="<%= toy[0].price %>">
                </p>
                <p>Amount: <span><%= toy[0].amount %></span><input type="text" name="amount" id="amount"
                        value="<%= toy[0].amount %>">
                </p>
                <p><input type="submit" id="btn3" value="Update"></p>
            </form>
            <div class="div2">
                <span><input type="button" id="btn" value="Edit"></span>
                <form action="delete" method="POST">
                    <input type="hidden" name="id" value="<%= toy[0].toyid%>">
                    <span><input type="submit" id="btn2" value="Delete"></span>
                </form>
                <form action="/" method="GET">
                    <span><input type="submit" id="btn4" value="Back"></span>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="/js/detail.js"></script>
</html>